* {
    border: none;
    border-radius: 0;
    font-family: Hack;
    font-size: 13px;
}

window#waybar {
    background: #323232;
    color: white;
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
    color: white;
}

#workspaces button {
    padding: 0 2px;
    color: #888888;
}

#workspaces button.focused {
    color: #ffffff;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button:hover {
    background: inherit;
    border: inherit;
    padding: 0 0px;
}

#mode {
    background: #222222;
    color: #888888;
    padding: 0 5px;
}

#clock, #battery, #idle_inhibitor {
    padding: 0 10px;
    color: #ffffff;
}

/* #battery { */
/*     /\* background-color: #ffffff; *\/ */
/*     color: white; */
/* } */

#tray {
    padding: 0 10px;
}
